<nav class="sidenav">
  <div class="brand">
    <img
      src="https://tse3.mm.bing.net/th/id/OIP.coubTs6x7bePHbaLrVh7EAHaHa?cb=ucfimg2ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3"
      alt="Admin"
      class="profile-pic"
    />
    <h2>Welcome, John</h2>
  </div>

  <ul>
    <li>
      <a routerLink="/admin/home" routerLinkActive="active">
        <i class="fa-solid fa-gauge"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
      <a routerLink="/admin/home/staff" routerLinkActive="active">
        <i class="fa-solid fa-users"></i>
        <span>Staff</span>
      </a>
    </li>

    <li>
      <a routerLink="/admin/home/sign-ins" routerLinkActive="active">
        <i class="fa-solid fa-clock"></i>
        <span>Sign-Ins</span>
      </a>
    </li>

    <li>
      <a routerLink="/admin/home/reports" routerLinkActive="active">
        <i class="fa-solid fa-chart-line"></i>
        <span>Reports</span>
      </a>
    </li>
  </ul>
</nav>

